// Input None Border
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
$error: #ff0000;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 15px;
  width: 100%;
}
.form__group:first-child {
  margin-top: 0px;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  &::-webkit-input-placeholder {
    color: transparent;
  }
  &::-moz-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    color: transparent;
  }
  &::-ms-input-placeholder {
    color: transparent;
  }
  &::placeholder {
    color: transparent;
  }
  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}
.form__field.errors {
  border-bottom: 2px solid $error;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}
.eye-icon {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}
.eye-icon.errors {
  top: 50%;
}
.form__label.errors {
  color: $error;
}
.form_error {
  font-size: 0.75rem;
  color: $error;
  margin-top: 3px;
}
.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: $primary;
    font-weight: 700;
  }
  ~ .form_error {
    color: $primary;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, $primary, $secondary);
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

// date
.myCustomPicker .ant-picker-header > button.ant-picker-header-super-prev-btn,
.myCustomPicker .ant-picker-header > button.ant-picker-header-super-next-btn,
.myCustomPicker .ant-picker-header button.ant-picker-year-btn {
  display: none !important;
}
